<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body style="max-width: 800px; margin: 0 auto">
    <h1 style="text-align: center; font-size: 32px; margin-bottom: 30px"><%= title %></h1>
    <form style="text-align: center; border: 1px solid rgb(161, 159, 7); padding: 10px 20px" method="POST" action="/">
      <p style="display: flex; flex-direction: column; gap: 10px; justify-content: center; align-items: center; margin-bottom: 30px">
        <label style="font-weight: bold; margin-right: 30px" for="msg">Message</label>
        <textarea required style="width: 300px; border-radius: 5px; padding: 8px" rows="4" type="text" id="msg" name="msg"></textarea>
      </p>
      <p style="display: flex; flex-direction: column; gap: 10px; justify-content: center; align-items: center; margin-bottom: 30px">
        <label style="font-weight: bold; margin-right: 30px" for="uName">User Name</label>
        <input required style="width: 300px; border-radius: 5px; padding: 8px" type="text" id="uName" name="uName" />
      </p>
      <input style="color: #fff; width: 300px; font-weight: bold; display: block; margin: 0 auto; text-align: center; text-decoration: none; padding: 10px 20px; border: 1px solid rgb(161, 159, 7); background-color: black; border-radius: 5px; cursor: pointer" type="submit" value="Send" />
    </form>
  </body>
</html>
